<div class="container">
    <div class="intro-presentation">
        <div class="row">
            <div class="col-md-4">
                <img src="http://www.gravatar.com/avatar/9afb5af0358aa6e9fbacf74dd6c07066?s=400" class="profile-image">
            </div>
            <div class="col-md-offset-1 col-md-7">
                <p class="profile-introduction">
                    Hello, my name is Carlos R. Vázquez Rosario and I was born in the beautiful island of Puerto Rico. I am currently studying for my degree in Computer Science with concentration in Information Systems at University of Puerto Rico: Bayamón Campus. The reason I decided to study this profession is because I always found myself interested in technology and the way it can make an impact on society. Every day I learn something new about this field that expands my mind on the possibilities on how I can contribute to the constant change of the world using technology.
                </p>
            </div>
        </div>
    </div>
    <div class="about-me">
        <hr>
        <div class="about-header">
            <p>About Me</p>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="about-info">
                    I like to learn new technologies by doing projects with my partners using mostly open source technologies that enable us to explore more this field and the capabilities that it has. Since 2014 I have been a member of the board in AECC (Asociación de Estudiantes de Ciencias de Computadoras). During this time I have helped to organize, present and coordinate workshops with technologies like Linux and Android for students at the university.My interest in this field and passion for learning new things has inspired me to pursue I higher education that enables me to contribute more to this society.
                </p>
            </div>
        </div>
    </div>
    <div class="resume">
        <hr>
        <div class="resume-header">
            <p>Resume</p>
        </div>
        <div class="resume-info">
            <div class="row">
                <div class="col-md-4">
                    <p class="resume-title">
                        Technologies
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="resume-comfort-title">DAY-TO-DAY COMFORT</p>
                    <ul class="resume-comfort-list">
                        <li class="resume-experience-item">Java</li>
                        <li class="resume-experience-item">HTML</li>
                        <li class="resume-experience-item">JavaScript</li>
                        <li class="resume-experience-item">CSS</li>
                        <li class="resume-experience-item">AngularJs</li>
                        <li class="resume-experience-item">Bootstrap</li>
                        <li class="resume-experience-item">SQL</li>
                        <li class="resume-experience-item">Android</li>
                        <li class="resume-experience-item">Git</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="resume-experience-title">HAVE EXPERIENCE WITH</p>
                    <ul class="resume-experience-list">
                        <li class="resume-experience-item">Database Design</li>
                        <li class="resume-experience-item">Visual Basic</li>
                        <li class="resume-experience-item">PHP</li>
                        <li class="resume-experience-item">EmberJs</li>
                        <li class="resume-experience-item">SASS</li>
                        <li class="resume-experience-item">SCSS</li>
                        <li class="resume-experience-item">Grunt</li>
                        <li class="resume-experience-item">Yeoman</li>
                        <li class="resume-experience-item">Ember-Cli</li>
                        <li class="resume-experience-item">GitHub</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-4">
                    <p class="resume-title">
                        Experience
                    </p>
                </div>
                <div class="col-md-7">
                    <ul class="resume-work-experience-list">
                        <li class="resume-work-experience-item">
                            <p class="resume-work-experience-title">Farrow Android Application</p>
                            <p class="resume-work-experience-info">
                                <span class="resume-work-experience-subtitle">August 2014 – December 2014</span>
                                <br> Developed an android chat application named Farrow that uses sockets to send and receive String messages for a Data Communication class project at University of Puerto Rico: Bayamón Campus.
                            </p>
                        </li>
                        <li class="resume-work-experience-item">
                            <p class="resume-work-experience-title">Front End Developer and Database Designer at Bookshub</p>
                            <p class="resume-work-experience-info">
                                <span class="resume-work-experience-subtitle">August 2014 – December 2014</span>
                                <br> Developed the front end and designed the database of a web application named Bookshub for a Project Management class project at University of Puerto Rico: Bayamón Campus.
                            </p>
                        </li>
                        <li class="resume-work-experience-item">
                            <p class="resume-work-experience-title">Android Workshop</p>
                            <p class="resume-work-experience-info">
                                <span class="resume-work-experience-subtitle">October 2014</span>
                                <br> Offered workshop about Linux and its distributions to students at University of Puerto Rico: Bayamón Campus.
                            </p>
                        </li>
                        <li class="resume-work-experience-item">
                            <p class="resume-work-experience-title">Archive Assistant, Corporación del Fondo del Seguro del Estado (CFSE)</p>
                            <p class="resume-work-experience-info">
                                <span class="resume-work-experience-subtitle">May 2011 – July 2011</span>
                                <br> Organized, recollected, delivered, packed and transferred patient files.
                            </p>
                        </li>
                        <li class="resume-work-experience-item">
                            <p class="resume-work-experience-title">Education Services Assistant, Corporación del Fondo del Seguro del Estado (CFSE)</p>
                            <p class="resume-work-experience-info">
                                <span class="resume-work-experience-subtitle">May 2009 – July 2009</span>
                                <br> Organized, located and stored employees education funding documents.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-4">
                <p class="contact-title">Contact Information</p>
                <ul class="contact-information">
                    <li class="contact-information-item"><a href="mailto:carlosvazquez014@gmail.com">carlosvazquez014@gmail.com</a>
                    </li>
                    <li class="contact-information-item">
                        <a href="https://github.com/Carl1101"><i class="fa fa-github fa-2x"></i>  GitHub</a>
                    </li>
                    <li><a href="../downloads/Resume-USF.pdf" class="btn btn-info" download>Download Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>