<div class="container">
    <div class="intro-presentation">
        <div class="row">
            <div class="col-md-4">
                <img src="http://www.gravatar.com/avatar/9afb5af0358aa6e9fbacf74dd6c07066?s=400" class="profile-image">
            </div>
            <div class="col-md-offset-1 col-md-7">
                <p class="profile-introduction">
                    Hello, my name is Carlos R. Vázquez Rosario and I was born in the beautiful island of Puerto Rico. I am currently studying for my degree in Computer Science with concentration in Information Systems at University of Puerto Rico: Bayamón Campus. The reason I decided to study this profession is because I always found myself interested in technology and the way it can make an impact on society. Every day I learn something new about this field that expands my mind on the possibilities on how I can contribute to the constant change of the world using technology.
                </p>
            </div>
        </div>
    </div>
    <div class="about-me">
        <div class="about-header">
            <p>About Me</p>
            <img src="../images/division_design.jpg" class="division-design">
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="about-info">
                    I like to learn new technologies by doing projects with my partners using mostly open source technologies that enable us to explore more this field and the capabilities that it has. Since 2014 I have been a member of the board in AECC (Asociación de Estudiantes de Ciencias de Computadoras). During this time I have helped to organize, present and coordinate workshops with technologies like Linux and Android for students at the university.My interest in this field and passion for learning new things has inspired me to pursue I higher education that enables me to contribute more to this society.
                </p>
            </div>
        </div>
    </div>
    <div class="resume">
        <div class="resume-header">
            <p>Resume</p>
            <img src="../images/division_design.jpg" class="division-design">
        </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
        </div>
      </div>
    </div>
</div>