.intro-presentation {
    padding-top: 10%;
}
.profile-image {
    width: 100%;
    border-radius: 180px;
}
.profile-introduction {
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    font-size: x-large;
    letter-spacing: 0.05em;
    line-height: 35px;
}
.about-header {
    text-align: center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
}
.about-info {
    word-wrap: break-word;
    padding-top: 10%;
    font-size: x-large;
    text-align: justify;
    letter-spacing: 0.05em;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.7);
}
.about-me {
    height: 100vh;
    margin-top: 20%;
}
.resume {
    height: 100vh;
}
.resume-header {
    text-align: center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
}
.resume-info {
    word-wrap: break-word;
    padding-top: 10%;
}
.resume-title {
  text-align: center;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
} 
.resume-comfort-title {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
} 
.resume-comfort-list {
  padding-top: 5%;
  padding-left: 30%;
} 
.resume-experience-title {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
} 
.resume-experience-list {
  padding-top: 5%;
  padding-left: 30%;
}
.resume-info {
  padding-top: 5%;
}
.resume-experience-item {
  padding-bottom: 2%;
}
.resume-work-experience-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
.resume-work-experience-list {
  list-style-type: none;
  padding-top: 35px;
}
.resume-work-experience-item {
  padding-bottom: 8%;
}
.resume-work-experience-info {
  word-wrap: break-word;
  font-size: medium;
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.resume-work-experience-subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}